:root {
    --border-color : #DADCE0;
    --background-color : #FFFFFF;
    --links-color : #202124;
    --skills-color : #202124;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#main {
    background-color: var(--background-color);
    overflow: hidden;
}
.content {
    padding: 10px;
}
#left {
    float: left;
    width: 30%;
    max-width: 300px;
}
#left img {
    width: 100%;
    border-radius: 5px;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.links a {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    margin-top: 5px;
    text-decoration: none;
    color: var(--links-color);
}

.links a i {
    margin-right: 5px;
    background-color: var(--border-color);
    border-radius: 5px;
    padding: 5px;
    align-content: center;
}
.links .fa-external-link {
    right: 0;
    background-color: transparent;
    float: right;
    padding: 0;
    margin: 0;
}
.skills ul {
    border-radius: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    text-align: center;
}
.skills h1 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
#right {
    float: left;
    width: 70%;
}
#right h1 {
    font-weight: bold;
    margin: 0;
}
#right .content div {
    padding: 0 5px 5px 5px;
    margin: 0 0 5px 0;
}
#right .content {
    padding: 0;
    margin: 10px 0 10px 0;
}
.experience ul {
    padding: 0;
    margin: 0;
}
.experience li .company {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}
.experience li .position {
    font-style: italic;
    margin-top: 0;
    border-bottom: 1px solid var(--border-color);
}
.experience li .date {
    margin-right: 10px;
    font-style: italic;
    float: right;
}
.experience li .description {
    margin: 5px 0 0 0;
}
.experience li {
    list-style: none;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin-bottom: 5px;
    position: relative;
}
#bottom {
    padding: 0 5px 5px 0;
}
#comic {
    float: left;
    width: 100%;
    border-radius: 5px;
    padding: 0 5px 5px 5px;
    margin: 0 0 5px 0;
    border: 1px solid var(--border-color);
}

#comic_title {
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid var(--border-color);
}

#comic_date {
    margin-right: 10px;
    font-style: italic;
    float: right;
}
#comic_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
}
#comic .content  {
    border-radius: 5px;
    margin-bottom: 5px;
    border-top: 1px solid var(--border-color);

}